Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  -bugprone-casting-through-void,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-signed-bitwise,
  -bugprone-too-small-loop-variable,
  -bugprone-unchecked-string-to-number-conversion,
  -performance-avoid-endl,
  -performance-no-int-to-ptr
HeaderFilterRegex: '(^|/)(include/HPDDM[^/]*|examples/[^/]*|interface/[^/]*)$'
FormatStyle: file
