# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran Module Files
*.mod

# Compiled Static Libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pyc

# Documentation
*.html
*.htm
*.css
*.js
*.nd

# Temporary Files
*.sw?
*~
.#*
.DS_Store
.fuse*
Makefile.inc

# Log
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.pdf
*.run.xml
*.snm
*.vrb
*.toc

*.dSYM
lib/
bin/
