os:
  - linux

dist: xenial

git:
  depth: 1
  submodules: false

language: cpp

compiler:
  - clang
  - gcc

sudo: false

env:
  matrix:
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF CO=GENERAL_CO
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=OFF
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=ON CO=GENERAL_CO
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=ON
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=C SOLVER=HYPRE SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF CO=GENERAL_CO
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=OFF
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=ON
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=ON
    - PYTHON_VERSION=2.7 HPDDM_NUMBERING=F SOLVER=HYPRE SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF CO=GENERAL_CO
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=OFF
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=ON
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=ON
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=HYPRE SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF CO=GENERAL_CO
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=OFF
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=ON
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=ON
    - PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=HYPRE SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF CO=GENERAL_CO

matrix:
  exclude:
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=OFF
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=ON
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=ON
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=C SOLVER=HYPRE SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF CO=GENERAL_CO
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=OFF
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=ON
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=MUMPS SUBSOLVER=MUMPS FORCE_SINGLE=ON FORCE_COMPLEX=ON
    - compiler: gcc
      env: PYTHON_VERSION=3.7 HPDDM_NUMBERING=F SOLVER=HYPRE SUBSOLVER=MUMPS FORCE_SINGLE=OFF FORCE_COMPLEX=OFF CO=GENERAL_CO

addons:
  apt:
    packages:
      - wget
      - bzip2
      - make
      - clang-3.8
      - g++-4.9
      - gfortran-5
      - libmumps-dev
      - libarpack2-dev
      - libhypre-dev
      - libmetis-dev

cache:
  directories:
    - $HOME/.cache

before_cache:
  - find $HOME/miniconda/pkgs -mindepth 1 -maxdepth 1 -type d -exec rm -r {} \;

install:
  - mkdir -p $HOME/.cache/pkgs
  - if [ "$CXX" == "g++" ]; then export OMPI_CC="gcc-4.9"; export OMPI_CXX="g++-4.9"; export OMPI_FC="gfortran-5"; else export OMPI_CC=clang-3.8; export OMPI_CXX=clang++-3.8; fi
  - if [ ! -f ${HOME}/.cache/miniconda${PYTHON_VERSION} ]; then
      if [ "$PYTHON_VERSION" == "2.7" ]; then
        wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O ${HOME}/.cache/miniconda${PYTHON_VERSION}.sh;
      else
        wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ${HOME}/.cache/miniconda${PYTHON_VERSION}.sh;
      fi
    fi
  - bash ${HOME}/.cache/miniconda${PYTHON_VERSION}.sh -b -p ${HOME}/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - rm -rf ${HOME}/miniconda/pkgs && ln -s ${HOME}/.cache/pkgs ${HOME}/miniconda/pkgs
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a
  - if [ "$PYTHON_VERSION" == "2.7" ]; then export CONDAFLAGS="libgfortran=1.0"; fi
  - conda create -q -n test-environment python=$PYTHON_VERSION $CONDAFLAGS nomkl numpy=1.14.6 scipy
  - source activate test-environment
  - python -V
  - pip install --user mpi4py
  - cp Make.inc/Makefile.Travis-CI Makefile.inc
  - if [ "$FORCE_SINGLE" == "ON" ]; then export HPDDMFLAGS="-DFORCE_SINGLE"; fi
  - if [ "$FORCE_COMPLEX" == "ON" ]; then export HPDDMFLAGS="${HPDDMFLAGS} -DFORCE_COMPLEX"; fi
  - if [ "$CO" == "GENERAL_CO" ]; then export HPDDMFLAGS="${HPDDMFLAGS} -DGENERAL_CO"; fi
  - if [ "$HPDDM_NUMBERING" == "C" ]; then export HPDDMFLAGS="${HPDDMFLAGS} -DHPDDM_NUMBERING=\'C\'"; fi
  - if [ "$HPDDM_NUMBERING" == "F" ]; then export HPDDMFLAGS="${HPDDMFLAGS} -DHPDDM_NUMBERING=\'F\'"; fi
  - export HPDDMFLAGS="${HPDDMFLAGS} -DHPDDM_NO_REGEX=1"
  - export CCFLAGS="-Wall -Wpedantic -Werror -Wno-sign-compare"
  - export CXXFLAGS="-Wall -Wpedantic -Werror -Wno-sign-compare"
  - if [ "$CXX" == "g++" ]; then export CCFLAGS="-Wno-literal-suffix -Wno-maybe-uninitialized ${CCFLAGS}"; export CXXFLAGS="-Wno-literal-suffix -Wno-maybe-uninitialized ${CXXFLAGS}"; fi
  - if [ "$PYTHON_VERSION" == "2.7" ]; then
      make all -j2;
    else
      export PYTHON_VERSION=3.7m; export LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${HOME}/miniconda/lib; make python;
    fi

script:
  - if [ "$PYTHON_VERSION" == "2.7" ]; then
      make test_cpp test_c;
    fi
  - make test_python
  - if [ "$PYTHON_VERSION" == "2.7" ] && [ "$SOLVER" == "HYPRE" ]; then
      make test_bin/schwarzFromFile_cpp;
      if [ "$?" != "0" ]; then
        exit 1;
      elif [ "$HPDDM_NUMBERING" == "F" ] && [ "$FORCE_SINGLE" == "OFF" ]; then
        make test_bin/driver;
        if [ "$?" != "0" ]; then
          exit 1;
        elif [ "$CXX" == "g++" ]; then
          make test_fortran;
        fi
      fi
    fi
  - if [ "$PYTHON_VERSION" == "2.7" ] && [ "$FORCE_SINGLE" == "OFF" ] && [ "$SOLVER" == "MUMPS" ]; then
      export HPDDMFLAGS="${HPDDMFLAGS} -DHPDDM_MIXED_PRECISION=1";
      make test_cpp;
    fi

notifications:
  email:
    recipients:
      - hpddm@ljll.math.upmc.fr

branches:
  only:
    - master
